*,
*::after,
*::before {
    box-sizing: border-box;
}

blockquote,
body,
dd,
dl,
figcaption,
figure,
h1,
h2,
h3,
h4,
li,
ol,
p,
ul {
    margin: 0;
}

body {
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    overflow-x: hidden;
    height: 100%;
}

ol,
ul {
    padding: 0;
    list-style: none;
}

a {
    font-family: inherit;
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    border: none;
}

button,
input,
select,
textarea {
    font-family: inherit;
}

body {
    font-family: 'Cuprum', sans-serif;
    min-width: 940px;
}




/* 1.header */
/* 2.main */
/* 3.footer */










/* 1.header */



.header {
    height: 320px;
    background-color: #F3F7F9;
}

.header__top {
    height: 42px;
    background: #293449;
    color: #FFFFFF;
}

.header__bottom {
    background: #F3F7F9;
}

.top-menu {
    display: flex;
}

.logo {
    width: 220px;
    height: 47px;
    color: #FFFFFF;
    background: #ee3643;
    border-bottom: 5px solid #b52933;
    text-align: center;
    padding: 12px 57px 12px 55px;
}

.logo._top:active {
    background: #ba2732;
    border-bottom: 5px solid #8e1e26;
}

.search {
    width: 271px;
}

.search__btn {
    background-color: inherit;
    margin-left: 17px;
    margin-top: 12px;
}



.search__field {
    width: 100%;
    height: 100%;
    padding-left: 42px;
    background: none;
    background: url(../images/icon/icon-search-gray.svg);
    background-repeat: no-repeat;
    background-position-y: 12px;
    background-position-x: 17px;
    line-height: 24px;
    font-size: 18px;
    border: 0;
    outline: 0;
    color: #F1F5F7;
}

.search__field:hover {
    color: #888888;
    background: url(../images/icon/icon-search.svg);
    background-repeat: no-repeat;
    background-position-y: 12px;
    background-position-x: 17px;
}

.search__field:active {
    color: #888888;
    background: url(../images/icon/icon-search-gray.svg);
    background-repeat: no-repeat;
    background-position-y: 12px;
    background-position-x: 17px;
}

.search__field:focus {
    color: #000000;
    background: url(../images/icon/icon-search-red.svg);
    background-repeat: no-repeat;
    background-position-y: 12px;
    background-position-x: 17px;
    background-color: #ffffff;

}

.search__field:hover::placeholder {
    color: #888888;
    ;
}

.search__field:hover:-ms-input-placeholder {
    color: #888888;
}

.search__field:hover::-ms-input-placeholder {
    color: #888888;
}

::-webkit-input-placeholder {
    color: #ffffff;
    line-height: 24px;
    font-size: 18px;
}

::-moz-placeholder {
    color: #ffffff;
    line-height: 24px;
    font-size: 18px;
}

/* Firefox 19+ */
:-moz-placeholder {
    color: #ffffff;
    line-height: 24px;
    font-size: 18px;
}

/* Firefox 18- */
:-ms-input-placeholder {
    color: #ffffff;
    line-height: 24px;
    font-size: 18px;
}

.header-item {
    height: 100%;
    width: 150px;
    padding-top: 9px;
    font-size: 18px;
    line-height: 24px;
    color: #F1F5F7;
}

.header-item._bookmark {
    background: url(../images/icon/icon-bookmark.png);
    background-repeat: no-repeat;
    background-position-y: 13px;
    background-position-x: 20px;
    padding: 9px 24px 9px 43px;
}

.header-item._cart {
    background: url(../images/icon/icon-cart.png);
    background-repeat: no-repeat;
    background-position-y: 13px;
    background-position-x: 20px;
    padding: 9px 26px 9px 49px;
}

.header-item._order {
    background-color: #63A63E;
    padding: 9px 16px 9px 19px;
}

.header-item._order:hover {
    background-color: #5fbb2d;
}

.header-item._bookmark:hover {
    background: url(../images/icon/icon-bookmark-hover.png);
    background-repeat: no-repeat;
    background-position-y: 13px;
    background-position-x: 20px;
}

.header-item._cart:hover {
    background: url(../images/icon/icon-cart-hover.png);
    background-repeat: no-repeat;
    background-position-y: 13px;
    background-position-x: 20px;
}

.header-item._bookmark:active {
    background: url(../images/icon/icon-bookmark.png);
    background-repeat: no-repeat;
    background-position-y: 13px;
    background-position-x: 20px;
    background-color: #161D29;
    color: rgba(255, 255, 255, 0.5);
}

.header-item._cart:active {
    background: url(../images/icon/icon-cart.png);
    background-repeat: no-repeat;
    background-position-y: 13px;
    background-position-x: 20px;
    background-color: #161D29;
    color: rgba(255, 255, 255, 0.5);
}

.header-item._order:active {
    background-color: #63A63E;
    color: rgba(255, 255, 255, 0.5);
}

.header__about {
    display: flex;
    padding-top: 46px;
}

.descrip {
    width: 197px;
    height: 71px;
    color: #EE3643;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    margin-left: 30px;
}

.header__phone {
    width: 270px;
    margin-left: 93px;
}

.phone-number {
    height: 45px;
    display: block;
    padding: 7px 43px 8px 72px;

    background: url(../images/icon/icon-phone.png);
    background-repeat: no-repeat;
    background-position-y: 13px;
    background-position-x: 39px;

    border: 2px solid #ffffff;
    color: #EE3643;

    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
}

.under-phone {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.authorize {
    width: 150px;
    height: 45px;
    padding: 12px 24px;
    text-align: center;
    font-size: 21px;
    line-height: 21px;
    background-color: #ffffff;
}

.authorize._log {
    width: 121px;
    margin-left: 69px;
    margin-right: 10px;
    padding: 12px 27px 12px 45px;
    background: url(../images/icon/icon-login-svg.svg);
    background-repeat: no-repeat;
    background-position-y: 14px;
    background-position-x: 19px;
    background-color: #ffffff;
}

.authorize._log:hover {
    color: #ee3643;
    background: url(../images/icon/icon-login-blue.svg);
    background-repeat: no-repeat;
    background-position-y: 14px;
    background-position-x: 19px;
    background-color: #ffffff;
}

.authorize:hover {
    color: #ee3643;
}

.authorize._log:active {
    color: #C5C5C5;
    background: url(../images/icon/icon-login-svg.svg);
    background-repeat: no-repeat;
    background-position-y: 14px;
    background-position-x: 19px;
    background-color: #ffffff;
}

.authorize:active {
    color: #C5C5C5;
}

.nav {
    height: 60px;
    margin: 40px 0 60px 0;
    background: -webkit-linear-gradient(180deg, rgb(50, 66, 92) 91%, rgb(41, 52, 73) 64%);
    background: -moz-linear-gradient(180deg, rgb(50, 66, 92) 91%, rgb(41, 52, 73) 64%);
    background: linear-gradient(180deg, rgb(50, 66, 92) 91%, rgb(41, 52, 73) 64%);
}

.nav__list {
    height: 100%;
    display: flex;
    font-size: 18px;
    line-height: 24px;
    color: #F1F5F7;
    padding: 0 15px;
}

ul.nav__list li {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}
ul.nav__list a{
    padding: 16px 0px 20px 0px;
}

ul.nav__list li:hover {
    background-color: #293449;
}

ul.nav__list li:active {
    background: -webkit-linear-gradient(180deg, rgb(29, 39, 57) 90%, rgb(41, 52, 73) 64%);
    background: -moz-linear-gradient(180deg, rgb(29, 39, 57) 90%, rgb(41, 52, 73) 64%);
    background: linear-gradient(180deg, rgb(29, 39, 57) 90%, rgb(41, 52, 73) 64%);
    color: rgba(255, 255, 255, 0.5);
}











/* 2.main */

.slide {
    margin: 59px 0;
}

.slide__top {
    display: flex;
    justify-content: space-between;
}

.slide-block {
    width: 300px;
    height: 123px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.slide__bottom {
    display: flex;
    justify-content: space-between;
}

.slide__name {
    margin-top: 22px;
    margin-left: 23px;
    font-size: 24px;
    color: #fff;
    font-weight: 700;
}

.slide-block__btn {
    width: 135px;
    height: 38px;
    font-size: 14px;
    line-height: 18px;
    margin-top: 15px;
    margin-left: 23px;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.3);
}

.slide-block__btn:hover {
    background-color: rgba(197, 197, 197, 0.3);
}

.slide-block__btn:active {
    background-color: rgba(169, 169, 169, 0.3);
}

.slide__block-big {
    width: 620px;
    height: 266px;
    position: relative;
}


.slide-block._y-bucket {
    background: url(../images/icon/bucket.svg) no-repeat 213px 31px,
        url(../images/icon/new.svg) no-repeat 230px 0px;
    background-color: #FFBF47;
}

.slide-block._b-drill {
    background: url(../images/icon/drill.svg) no-repeat 213px 31px;
    background-color: #3BBCE3;
}

.slide-block._p-tractor {
    background: url(../images/icon/trac.svg) no-repeat 213px 31px;
    background-color: #DC91D8;
}

.slide-block._g-cart {
    background: url(../images/icon/cart2.svg) no-repeat 213px 31px;
    background-color: #8ED78F;
}

.slide-block._y-car {
    background: url(../images/icon/car.svg) no-repeat 213px 31px;
    background-color: #FFC047;
}




.slider__tittle {
    position: absolute;
    top: 23px;
    left: 24px;
}

.slider__tittle h3 {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
}

.slider__tittle p {
    font-size: 18px;
    margin-top: 5px;
    color: #fff;
}

.btn {
    height: 38px;
    width: 192px;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #EE3643;
}

.btn:hover {
    background-color: #CA2C37;
}

.btn:active {
    background-color: #BA2732;
}

.slide__open-btn {
    margin-top: 111px;
}

.arrow-btn {
    width: 22px;
    height: 40px;
    position: absolute;
    top: 122px;
}

.arrow-btn__back {
    left: 24px;
    background: url(../images/icon/b-left.svg) no-repeat;
}

.arrow-btn__next {
    right: 20px;
    background: url(../images/icon/b-right.svg) no-repeat;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    color: #fff;
    font-size: 40px;
}

.swiper.swiper-pagination-bullet-active {
background-color: #EE3643;
}
.slider-nav {
    position: absolute;
    bottom: 36px;
    width: 100px;
    left: 260px;
    display: flex;
    justify-content: center;
}

.slider-nav__item {
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #fff;
    padding: 0;
    margin: 0 5px;
}

.slider-nav__item.active {
    background-color: #EE3643;
}

.hidden {
    /*display: none;*/
    visibility: hidden;
}

.content-header {
    height: 89px;
    padding: 0 19px 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F9F5F0;
    color: #32425C;
}

.main-title {
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
}

.product-list {
    font-family: "PT Sans";
    display: flex;
    justify-content: space-between;
    margin: 20px 0 70px 0;
}

ul.product-list li {
    width: 220px;
    height: 318px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #EAEAEA;
}

.product-menu {
    height: 170px;
    width: 215px;
    margin-left: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFF;
    position: absolute;
    visibility: hidden;
}

ul.product-list li:hover {
    visibility: visible;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
}

ul.product-list li:hover .product-menu {
    visibility: visible;
    background-color: #FFFF;
}

.product-menu__item {
    width: 135px;
    height: 38px;
    display: flex;
    align-items: center;
    font-family: "Cuprum";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    background: url(../images/icon/icon-cart.png) no-repeat 30px 10px;
    background-color: #63a63e;
    margin-bottom: 10px;
    padding-left: 53px;
}

.product-menu__item:hover {
    background-color: #5FBB2D;
}

.product-menu__item:active {
    background-color: #518534;
}

.product-menu__item._bookmark {
    color: #32425C;
    background-color: #ffffff;
    border: 3px solid #63A63E;
    border-radius: 4px;
    justify-content: center;
    padding: 0;
}

.product-menu__item._bookmark:hover {
    border-color: #32425C;
}

.product-menu__item._bookmark:active {
    opacity: 0.5;
}


.product__img {
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product__name {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
}

.product__old-price {
    color: #A9A9A9;
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    text-decoration: line-through;
}

.product__price {
    width: 141px;
    height: 38px;
    background: url(../images/icon/price.svg) no-repeat;
    color: #fff;
    padding-left: 32px;
    padding-top: 10px;
    margin-left: 45px;
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 21px;
}

.product._new div {
    background: url(../images/icon/new.svg) no-repeat 150px 0px;
}





.brand__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.brand__name {
    width: 220px;
    height: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #EAEAEA;
    margin-top: 20px;
}

.brand__name:hover {
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
}

.brand__name:active {
    opacity: 0.5;
}

.service {
    height: 522px;
    background-color: #f1f5f7;
    margin-top: 70px;
    margin-bottom: 70px;
}

.container {}

.service__top {
    padding-top: 64px;
    margin-bottom: 67px;
}

.text {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
}

.text._service {
    margin: 25px 0 67px 0;
}

.service__bottom {
    display: flex;
}

.service__menu {}

.service__shipping {}





.about {
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
}

.text._top {
    margin-top: 24px;
    margin-bottom: 24px;
}

.company-list {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 8px;
}

ul.company-list li {
    margin-bottom: 12px;
    position: relative;
    padding-left: 37px;
}

ul.company-list li::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: #EE3643;
    left: 0px;
    top: 12px;
}

.text._map {
    margin-top: 24px;
    margin-bottom: 32px;
}

.btn._map {
    width: 300px;
    margin-top: 25px;
}









/* 3.footer */

.footer {
    font-size: 18px;
    color: #ffffff;
}

.top-footer {
    height: 193px;
    background-color: #32425C;
}

.low-footer {
    height: 107px;
    background: #293449;
}

.info-board {
    display: flex;
}

.logo._footer {
    width: 220px;
    height: 68px;
    margin-right: 173px;
    font-size: 23px;
    padding: 20px 41px 25px 41px;
}

.info-board__adres {
    height: 49px;
    margin: 22px 69px 0 3px;
    line-height: 24px;
    color: #F3F7F9;
}

.info-board__list {
    width: 549px;
    display: flex;
    color: #F1F5F7;
    justify-content: space-between;
}

ul.info-board__list li {
    margin-top: 37px;
}

.info-board__list._yellow {
    width: 525px;
    margin-left: 23px;
    color: #FFD180;
}

ul.info-board__list._yellow li {
    margin-top: 34px;
}

ul.info-board__list li:hover {
    border-bottom: 1px solid #ffffff;
    margin-bottom: -1px;
}

ul.info-board__list._yellow li:hover {
    border-bottom: 1px solid #FFD180;
}

ul.info-board__list li:active {
    border-bottom: 0;
    color: rgba(255, 255, 255, 0.5);
}

ul.info-board__list._yellow li:active {
    border-bottom: 0;
    color: rgba(255, 209, 128, 0.5);
}

.low-footer__contact {
    display: flex;
}

.low-footer__about {
    min-width: 227px;
    height: 37px;
    font-size: 16px;
    line-height: 18px;
    margin: 36px 161px 0 0;
}

.contact {
    width: 134px;
    margin: 34px 118px 0 0;
    font-size: 0;
    display: flex;
}

.contact a {
    display: block;
    width: 44px;
    height: 44px;
}

.contact__f {
    margin: 0 1px;
}

.author {
    width: 137px;
    height: 37px;
    margin-top: 35px;
    margin-right: 51px;
    font-size: 16px;
    line-height: 18px;
}

.author__value {
    color: #FFD180;
}

.author__value:hover {
    border-bottom: 1px solid #FFD180;
}

.author__value:active {
    color: #EE3643;
    border-bottom: 0px;
}

.contact-photo {
    fill: #212A3A;
}

.contact-photo:hover {
    fill: red;
}






.container {
    width: 940px;
    margin: 0 auto;
}