*,
*::after,
*::before {
    box-sizing: border-box;
}

blockquote,
body,
dd,
dl,
figcaption,
figure,
h1,
h2,
h3,
h4,
li,
ol,
p,
ul {
    margin: 0;
}

body {
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    overflow-x: hidden;
    height: 100%;
}

ol,
ul {
    padding: 0;
    list-style: none;
}

a {
    font-family: inherit;
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    border: none;
}

button,
input,
select,
textarea {
    font-family: inherit;
}

body {
    font-family: 'Cuprum', sans-serif;
    /*min-width: 940px;*/
}

.container {
    max-width: 940px;
    margin: 0 auto;
    width:100%;
}




/* 1.header */
/* 2.main */
/* 3.footer */










/* 1.header */



.header {
    /*height: 320px;*/
    background-color: #F3F7F9;
    padding-bottom: 60px;
}

.header__top {
    background: #293449;
    color: #FFFFFF;
    height: 42px;
}

.header__bottom {
    background: #F3F7F9;
}

.top-menu {
    display: flex;
}

.main-menu{
    display: flex;
}

.logo {
    width: 220px;
    height: 47px;
    color: #FFFFFF;
    background: #ee3643;
    border-bottom: 5px solid #b52933;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger-btn {
    display: none;
}

.logo._top:active {
    background: #ba2732;
    border-bottom: 5px solid #8e1e26;
}

.search {
    width: 271px;
}

.search__field {
    width: 100%;
    height: 100%;
    padding-left: 42px;
    background: none;
    background: url(../images/icon/icon-search-gray.svg);
    background-repeat: no-repeat;
    background-position-y: 12px;
    background-position-x: 17px;
    line-height: 24px;
    font-size: 18px;
    border: 0;
    outline: 0;
    color: #F1F5F7;
}

.search__field:hover {
    color: #888888;
    background: url(../images/icon/icon-search.svg);
    background-repeat: no-repeat;
    background-position-y: 12px;
    background-position-x: 17px;
}

.search__field:active {
    color: #888888;
    background: url(../images/icon/icon-search-gray.svg);
    background-repeat: no-repeat;
    background-position-y: 12px;
    background-position-x: 17px;
}

.search__field:focus {
    color: #000000;
    background: url(../images/icon/icon-search-red.svg);
    background-repeat: no-repeat;
    background-position-y: 12px;
    background-position-x: 17px;
    background-color: #ffffff;

}

.search__field:hover::placeholder {
    color: #888888;
    ;
}

.search__field:hover:-ms-input-placeholder {
    color: #888888;
}

.search__field:hover::-ms-input-placeholder {
    color: #888888;
}

::-webkit-input-placeholder {
    color: #ffffff;
    line-height: 24px;
    font-size: 18px;
}

::-moz-placeholder {
    color: #ffffff;
    line-height: 24px;
    font-size: 18px;
}

/* Firefox 19+ */
:-moz-placeholder {
    color: #ffffff;
    line-height: 24px;
    font-size: 18px;
}

/* Firefox 18- */
:-ms-input-placeholder {
    color: #ffffff;
    line-height: 24px;
    font-size: 18px;
}

.header-item {
    height: 42px;
    width: 150px;
    padding-top: 9px;
    font-size: 18px;
    line-height: 24px;
    color: #F1F5F7;
}

.header-item._bookmark {
    background: url(../images/icon/icon-bookmark.png);
    background-repeat: no-repeat;
    background-position-y: 13px;
    background-position-x: 20px;
    padding: 9px 0 9px 49px;
}

.header-item._cart {
    background-image: url(../images/icon/icon-cart.png);
    background-repeat: no-repeat;
    background-position-y: 13px;
    background-position-x: 20px;
    padding: 9px 0 9px 49px;
}

.header-item._log {
    background-color: #ee3643;
}

.header-item._order {
    background-color: #63A63E;
    padding: 9px 16px 9px 19px;
}

.header-item._order:hover {
    background-color: #5fbb2d;
}

.header-item._bookmark:hover {
    background-image: url(../images/icon/icon-bookmark-hover.png);
    background-repeat: no-repeat;
    background-position-y: 13px;
    background-position-x: 20px;
}

.header-item._cart:hover {
    background-image: url(../images/icon/icon-cart-hover.png);
    background-repeat: no-repeat;
    background-position-y: 13px;
    background-position-x: 20px;
}

.header-item._bookmark:active {
    background-image: url(../images/icon/icon-bookmark.png);
    background-repeat: no-repeat;
    background-position-y: 13px;
    background-position-x: 20px;
    background-color: #161D29;
    color: rgba(255, 255, 255, 0.5);
}

.header-item._cart:active {
    background-image: url(../images/icon/icon-cart.png);
    background-repeat: no-repeat;
    background-position-y: 13px;
    background-position-x: 20px;
    background-color: #161D29;
    color: rgba(255, 255, 255, 0.5);
}

.header-item._order:active {
    background-color: #63A63E;
    color: rgba(255, 255, 255, 0.5);
}

.header__about {
    display: flex;
    justify-content: space-between;
    padding-top: 46px;
}

.descrip {
    width: 197px;
    color: #EE3643;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    margin-left: 30px;
}

.header__phone {
    width: auto;
}

.phone-number {
    display: block;
    padding: 0 0 0 65px;

    background: url(../images/icon/icon-phone.png);
    background-repeat: no-repeat;
    background-position-y: 5px;
    background-position-x: 35px;

    border: 2px solid #ffffff;
    color: #EE3643;

    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    text-align: left;
}

.under-phone {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.logon {
    width: 281px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.authorize {
    width: 150px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    line-height: 21px;
    background-color: #ffffff;
}

.authorize._log {
    width: 121px;
    padding-right: 10px;
    justify-content: space-evenly;
    /*  background: url(../images/icon/icon-login-svg.svg);
    background-repeat: no-repeat;
    background-position-y: 14px;
    background-position-x: 19px;*/
    background-color: #ffffff;
}

.svg-aut {
    fill: #C5C5C5;
}

.authorize:hover .svg-aut {
    fill: #ee3643;
}

.authorize:hover {
    color: #ee3643;
}

.authorize:active {
    color: #C5C5C5;
}

.authorize:active .svg-aut {
    fill: #C5C5C5;
}

.profile {
    margin-left: 51px;
}

.profile__name {
    width: 299px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    font-size: 21px;
    line-height: 21px;
    background: #fff;
}

.profile__svg {
    fill: #C5C5C5;
}

.profile__name:hover {
    fill: #495e78;
}

.profile__name:hover .profile__svg {
    fill: #495e78;
}

.profile__name:active .profile__svg {
    fill: #C5C5C5;
}

.profile__name:active {
    color: #C5C5C5;
}

.profile__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 44px;
    margin-top: 7px;
    color: #32425C;
}

.profile__point {
    fill: #32425C;
}

.profile__bottom:hover {
    color: #ee3643;
}

.profile__bottom:hover .profile__point {
    fill: #ee3643;
}

.profile__bottom:active {
    color: #C5C5C5;
    ;
}

.profile__bottom:active .profile__point {
    fill: #C5C5C5;
}

.nav {
    height: 55px;
    margin-top: 40px;
    background: rgb(50, 66, 92);
    border-bottom: 5px solid rgb(41, 52, 73);
}

.nav__wrapper {
    height: 100%;
}

.nav__list {
    height: 100%;
    display: flex;
    font-size: 18px;
    line-height: 24px;
    color: #F1F5F7;
    padding: 0 15px;
}

ul.nav__list li {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

ul.nav__list a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

ul.nav__list li:hover {
    background-color: #293449;
}

ul.nav__list li:active {
    background: -webkit-linear-gradient(180deg, rgb(29, 39, 57) 90%, rgb(41, 52, 73) 64%);
    background: -moz-linear-gradient(180deg, rgb(29, 39, 57) 90%, rgb(41, 52, 73) 64%);
    background: linear-gradient(180deg, rgb(29, 39, 57) 90%, rgb(41, 52, 73) 64%);
    color: rgba(255, 255, 255, 0.5);
}











/* 2.main */

.slide {
    margin: 59px 0;
}

.slide__top {
    display: flex;
    justify-content: space-between;
}

.slide-block {
    width: 300px;
    height: 123px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.slide__bottom {
    display: flex;
    justify-content: space-between;
}

.slide__name {
    margin-top: 22px;
    margin-left: 23px;
    font-size: 24px;
    color: #fff;
    font-weight: 700;
}

.slide-block__btn {
    width: 135px;
    height: 38px;
    font-size: 14px;
    line-height: 18px;
    margin-top: 15px;
    margin-left: 23px;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.3);
}

.slide-block__btn:hover {
    background-color: rgba(197, 197, 197, 0.3);
}

.slide-block__btn:active {
    background-color: rgba(169, 169, 169, 0.3);
}

.slide__block-big.swiper {
    width: 620px;
    height: 266px;
    position: relative;
    margin: 0;
}


.slide-block._y-bucket {
    background: url(../images/icon/bucket.svg) no-repeat 213px 31px,
        url(../images/icon/new.svg) no-repeat 230px 0px;
    background-color: #FFBF47;
}

.slide-block._b-drill {
    background: url(../images/icon/drill.svg) no-repeat 213px 31px;
    background-color: #3BBCE3;
}

.slide-block._p-tractor {
    background: url(../images/icon/trac.svg) no-repeat 213px 31px;
    background-color: #DC91D8;
}

.slide-block._g-cart {
    background: url(../images/icon/cart2.svg) no-repeat 213px 31px;
    background-color: #8ED78F;
}

.slide-block._y-car {
    background: url(../images/icon/car.svg) no-repeat 213px 31px;
    background-color: #FFC047;
}




.slider__tittle {
    position: absolute;
    top: 23px;
    left: 24px;
}

.slider__tittle h3 {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
}

.slider__tittle p {
    font-size: 18px;
    margin-top: 5px;
    color: #fff;
}

.btn {
    height: 38px;
    width: 192px;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #EE3643;
}

.btn:hover {
    background-color: #CA2C37;
}

.btn:active {
    background-color: #BA2732;
}

.slide__open-btn {
    margin-top: 111px;
}

.arrow-btn {
    width: 22px;
    height: 40px;
    position: absolute;
    top: 122px;
    display: flex;
    z-index: 2;
}

.arrow-btn__back {
    left: 24px;
    background: url(../images/icon/b-left.svg) no-repeat;
}

.arrow-btn__next {
    right: 20px;
    background: url(../images/icon/b-right.svg) no-repeat;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    color: #fff;
    font-size: 40px;
}

.swiper .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #EE3643;
    border: 2px solid #fff;
    border-radius: 50%;

}

.slider-nav__item.active {
    background-color: #EE3643;
}

.hidden {
    /*display: none;*/
    visibility: hidden;
}

.content-header {
    height: 89px;
    padding: 0 19px 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F9F5F0;
    color: #32425C;
}

.main-title {
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
}

.product-list {
    font-family: "PT Sans";
    display: flex;
    justify-content: space-between;
    margin: 20px 0 70px 0;
}

ul.product-list li {
    width: 220px;
    height: 318px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #EAEAEA;
}

.product-menu {
    height: 170px;
    width: 215px;
    margin-left: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFF;
    position: absolute;
    visibility: hidden;
}

ul.product-list li:hover {
    visibility: visible;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
}

ul.product-list li:hover .product-menu {
    visibility: visible;
    background-color: #FFFF;
}

.product-menu__item {
    width: 135px;
    height: 38px;
    display: flex;
    align-items: center;
    font-family: "Cuprum";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    background: url(../images/icon/icon-cart.png) no-repeat 30px 10px;
    background-color: #63a63e;
    margin-bottom: 10px;
    padding-left: 53px;
}

.product-menu__item:hover {
    background-color: #5FBB2D;
}

.product-menu__item:active {
    background-color: #518534;
}

.product-menu__item._bookmark {
    color: #32425C;
    background-color: #ffffff;
    border: 3px solid #63A63E;
    border-radius: 4px;
    justify-content: center;
    padding: 0;
}

.product-menu__item._bookmark:hover {
    border-color: #32425C;
}

.product-menu__item._bookmark:active {
    opacity: 0.5;
}


.product__img {
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product__name {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
}

.product__old-price {
    color: #A9A9A9;
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    text-decoration: line-through;
}

.product__price {
    width: 141px;
    height: 38px;
    background: url(../images/icon/price.svg) no-repeat;
    color: #fff;
    padding-left: 32px;
    padding-top: 10px;
    margin-left: 45px;
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 21px;
}

.product._new div {
    background: url(../images/icon/new.svg) no-repeat 150px 0px;
}





.brand__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.brand__name {
    width: 220px;
    height: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #EAEAEA;
    margin-top: 20px;
}

.brand__name:hover {
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
}

.brand__name:active {
    opacity: 0.5;
}

.service {
    height: 522px;
    background-color: #f1f5f7;
    margin-top: 70px;
    margin-bottom: 70px;
}

.service__top {
    padding-top: 64px;
    margin-bottom: 21px;
}

.text {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
}

.text._service {
    margin: 25px 0 0px 0;
}

.service__bottom {
    display: flex;
}

.nav-tabs {
    position: relative;
    height: 279px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-tabs:after {
    content: " ";
    display: block;
    position: absolute;
    right: 0;
    width: 10px;
    background: url(../images/icon/shadowTab.svg) no-repeat 100% 0;
    height: 100%;
}

.nav-tab {
    width: 260px;
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #32425C;
    color: #fff;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
}

.nav-tab.active {
    background: #fff;
    color: #32425C;
    cursor: default;
}

.tab-content {
    font-size: 20px;

}

.tab-pane._car {
    background: url(../images/icon/ship_car.png) no-repeat 140px 23px;
}

.tab-pane._medal {
    background: url(../images/icon/medal.svg) no-repeat 200px 23px;
}

.tab-pane._cash {
    background: url(../images/icon/cash.svg) no-repeat 140px 23px;
}


.text._tab {

    margin-top: 30px;
    font-size: 13px;
    line-height: 24px;
}

.tab-pane {
    display: none;
    width: 619px;
    height: 283px;
    margin-left: 80px;
}

.btn._send {
    width: 195px;
    background: #FF5357;
    border-radius: 4px;
    margin-top: 27px;
}

.tab-pane.active {
    display: flex;
    flex-direction: column;
}

.about {
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
}

.text._top {
    margin-top: 24px;
    margin-bottom: 24px;
}

.company-list {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 8px;
}

ul.company-list li {
    margin-bottom: 12px;
    position: relative;
    padding-left: 37px;
}

ul.company-list li::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: #EE3643;
    left: 0px;
    top: 12px;
}

.text._map {
    margin-top: 24px;
    margin-bottom: 32px;
}

.btn._map {
    width: 300px;
    margin-top: 25px;
}









/* 3.footer */

.footer {
    font-size: 18px;
    color: #ffffff;
}

.top-footer {
    height: 193px;
    background-color: #32425C;
}

.low-footer {
    height: 107px;
    background: #293449;
}

.info-board {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.logo-adres {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 54px;
}

.logo._footer {
    width: 220px;
    height: 68px;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-board__adres {

    line-height: 24px;
    color: #F3F7F9;
}

.info-board__list {
    width: 546px;
    display: flex;
    color: #F1F5F7;
    justify-content: space-between;
}

ul.info-board__list li {
    margin-top: 37px;
}

.info-board__list._yellow {
    width: 523px;
    margin-left: 23px;
    color: #FFD180;
}

ul.info-board__list._yellow li {
    margin-top: 34px;
}

ul.info-board__list li:hover {
    border-bottom: 1px solid #ffffff;
    margin-bottom: -1px;
}

ul.info-board__list._yellow li:hover {
    border-bottom: 1px solid #FFD180;
}

ul.info-board__list li:active {
    border-bottom: 0;
    color: rgba(255, 255, 255, 0.5);
}

ul.info-board__list._yellow li:active {
    border-bottom: 0;
    color: rgba(255, 209, 128, 0.5);
}

.low-footer__contact {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.low-footer__about {
    width: 227px;
    height: 37px;
    font-size: 16px;
    line-height: 18px;
}

.contact {
    width: 134px;
    font-size: 0;
    display: flex;
}

.contact a {
    display: block;
    width: 44px;
    height: 44px;
}

.contact__f {
    margin: 0 1px;
}

.creator {
    display: flex;
    width: 286px;
    align-items: center;
    justify-content: space-between;
}

.author {
    /*width: 137px;*/
    font-size: 16px;
    line-height: 18px;
}

/*
.author._small {
    width: 98px;
}*/

.author__value {
    color: #FFD180;
}

.author__value:hover {
    border-bottom: 1px solid #FFD180;
}

.author__value:active {
    color: #EE3643;
    border-bottom: 0px;
}

.contact-photo {
    fill: #212A3A;
}

.contact-photo:hover {
    fill: red;
}











.popup-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
}

.popup-bg.active {
    opacity: 1;
    pointer-events: all;
    transition: 0.5s all;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 620px;
    height: 430px;
    border-top: 7px solid #ff5257;
    transition: 0.5s all;
}

.popup__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;

}

.close-popup {
    position: absolute;
    top: 14px;
    right: 11px;
    cursor: pointer;
}

.label__text {
    margin-bottom: 11px;
}

.popup__input {
    width: 220px;
    height: 38px;
    border: 2px solid #C5C5C5;
}

.popup__textarea {
    width: 460px;
    height: 114px;
    resize: none;
    border: 2px solid #C5C5C5;
}

.popup__main {
    height: 311px;
    padding: 39px 80px 37px 80px;
}

.popup__main ::placeholder {
    color: #A9A9A9;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
}

.popup__footer {
    height: 112px;
    background: #F4F4F4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn._popup {
    width: 460px;
}


















/* 4. catalog*/

.catalog {
    margin-top: 21px;
}

.tab {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
}

.svg-arrow {
    margin: 0 16px;
}

.catalog__name {
    height: 89px;
    background: #F2F6F8;
    padding: 29px;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 30px;
}

.catalog__top {
    display: flex;
}

.catalog__top {
    height: 38px;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
}

.filter__name {
    min-width: 220px;
    height: 38px;
    background: #F7F3EC;
    margin-right: 20px;
    padding-left: 18px;
    display: flex;
    align-items: center;
}

.sorting {
    display: flex;
    align-items: center;
    width: 100%;
    background: #F7F3EC;
    padding-left: 19px;
}

.sorting__title {
    width: 220px;
}

.sorting__name {
    width: 350px;
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.3)
}

.sorting__value {
    border-bottom: 1px dotted red;
    cursor: pointer;
}

.sorting__value.active {
    border-bottom: 0;
    color: #ee3643;
}

.up-down {
    width: 61px;
    margin-left: 46px;
    display: flex;
}

.svg-sort {
    margin-right: 20px;
    cursor: pointer;
}

.catalog__body {
    display: flex;
}

.form-filter {
    width: 220px;
    height: 720px;
    margin-right: 20px;
    font-family: "PT Sans";
    font-size: 15px;
    line-height: 19px;
    margin-top: 14px;
}

.filter__price {
    width: 220px;
    height: 80px;
    background: #F7F3EC;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.price-range {}

.filter__title {
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
}

.filter__price-border {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 9px;
}

.filter__price-value {
    width: 95px;
    height: 38px;
    background: #F7F3EC;
    display: flex;
    text-align: center;
    font-size: 17px;
    line-height: 18px;
    border: none;
    outline: none;
}

.svg-line {
    margin: 25px 0 10px 0;
}

.filter__brand {
    margin-top: 15px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.filter__power {
    display: flex;
    flex-direction: column;
    height: 66px;
    justify-content: space-between;
    margin-top: 20px;
}

.filter__btn {
    width: 220px;
    height: 38px;
    background: #fff;
    border: 1px solid #EAEAEA;
    margin-top: 34px;
}

.filter__btn:hover {
    border: 1px solid #C5C5C5;
}

.filter__checkbox-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
}

.filter__checkbox-brand {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.fake {
    display: inline-block;
    width: 27px;
    height: 23px;
    background: url(../images/icon/checkbox-off.svg) no-repeat;
    margin-right: 8px;
    position: relative;
}

.filter__checkbox-brand:hover+.fake {
    background: url(../images/icon/checkbox-off-hover.svg) no-repeat;
}

.filter__checkbox-brand:checked+.fake {
    background: url(../images/icon/checkbox-on.svg) no-repeat;
}

.filter__checkbox-brand:checked:hover+.fake {
    background: url(../images/icon/checkbox-on-hover.svg) no-repeat;
}


.filter__radio-label {}

.label-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.filter__radio {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.label-text::before {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    background: url(../images/icon/radio-off2.svg) no-repeat;
    margin-right: 10px;
}

.label-text:hover:before {
    background: url(../images/icon/radio-off-hover.svg) no-repeat;
}

.filter__radio:checked+.label-text::before {
    background: url(../images/icon/radio-on2.svg) no-repeat;
}

.filter__radio:checked+.label-text:hover:before {
    background: url(../images/icon/radio-on-hover.svg) no-repeat;
}


ul.cat-list li {
    margin-bottom: 20px;
}

ul.cat-list {
    margin-bottom: 28px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
}

.page {
    display: flex;
    height: 38px;
    margin-bottom: 59px;
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 18px;
}

.page__number {
    width: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    margin-right: 10px;
}

.page__number.active {
    background: #EE3643;
    color: #fff;
}

.page__number:hover {
    border: 1px solid #C5C5C5;
}

.page__next:hover {
    border: 1px solid #C5C5C5;
}

.page__number:active {
    border: 1px solid #ee3643;
}

.page__next:active {
    border: 1px solid #EE3643;
}

.page__next {
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
}

.about-catalog {
    background: #f1f5f7;
    height: 261px;
    padding: 64px 0 67px 0;
}

.text._perf {
    margin-top: 25px;
}






















@media(max-width:949px) {

    

    .header {
        height: auto;
        position: relative;
    }

    .header__top {
        height: auto;
    }

    .top-menu {
        flex-direction: column;
    }

    .logo._top {
        width: 100%;
        height: 50px;
    }

    .logo._top svg {
        width: 150px;
    }

    .main-menu {
        display: flex;
    }

    .search {
        width: 35%;

    }

    .search__field {
        width: 100%;
        height: 100%;
        background-position-y: 10px;
        background-position-x: 10px;
        background-size: 1em;
        padding-left: 35px;
        font-size: 20px;
    }

    ::-webkit-input-placeholder {
        line-height: 1;
        font-size: 1;
    }

    ::-moz-placeholder {
        line-height: 1;
        font-size: 1em;
    }


    :-moz-placeholder {
        line-height: 1em;
        font-size: 1em;
    }


    :-ms-input-placeholder {
        line-height: 1em;
        font-size: 1em;
    }

    .search__field:hover {
        color: #888888;
        background: url(../images/icon/icon-search.svg);
        background-repeat: no-repeat;
        background-position-y: 10px;
        background-position-x: 10px;
        background-size: 1em;
        padding-left: 35px;
    }

    .search__field:active {
        color: #888888;
        background: url(../images/icon/icon-search-gray.svg);
        background-repeat: no-repeat;
        background-position-y: 10px;
        background-position-x: 10px;
        background-size: 1em;
        padding-left: 35px;
    }

    .search__field:focus {
        color: #000000;
        background: url(../images/icon/icon-search-red.svg);
        background-repeat: no-repeat;
        background-position-y: 10px;
        background-position-x: 10px;
        background-size: 1em;
        padding-left: 35px;
        background-color: #fff;

    }

    .header-item {
        flex-grow: 1;
        font-size: 20px;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .header-item._bookmark {
        background-position-y: 9px;
        background-position-x: 10px;
        background-size: 1em;
        padding-left: 40px;
    }

    .header-item._cart {
        background-position-y: 9px;
        background-position-x: 10px;
        background-size: 1em;
        padding-left: 40px;
    }

    .header-item._order {
        background-color: #63A63E;
        padding-left: 30px;
    }

    .header-item._bookmark:hover {
        background-image: url(../images/icon/icon-bookmark-hover.png);
        background-repeat: no-repeat;
        background-position-y: 9px;
        background-position-x: 10px;
        background-size: 1em;
        padding-left: 40px;
    }

    .header-item._cart:hover {
        background-image: url(../images/icon/icon-cart-hover.png);
        background-repeat: no-repeat;
        background-position-y: 9px;
        background-position-x: 10px;
        background-size: 1em;
        padding-left: 40px;
    }

    .header-item._bookmark:active {
        background-image: url(../images/icon/icon-bookmark.png);
        background-repeat: no-repeat;
        background-position-y: 9px;
        background-position-x: 10px;
        background-size: 1em;
        padding-left: 40px;
        background-color: #161D29;
        color: rgba(255, 255, 255, 0.5);
    }

    .header-item._cart:active {
        background-image: url(../images/icon/icon-cart.png);
        background-repeat: no-repeat;
        background-position-y: 9px;
        background-position-x: 10px;
        background-size: 1em;
        padding-left: 40px;
        background-color: #161D29;
        color: rgba(255, 255, 255, 0.5);
    }


    .header__about {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .descrip {
        width: 45%;
        text-align: center;
        font-size: 1.5em;
        line-height: 1em;
        margin: 0;
    }

    .header__phone {
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .phone-number {
        font-size: 1.8em;
        line-height: 1.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        background-position-y: 12px;
        background-position-x: 39px;
    }

    .under-phone {
        font-size: 1.2em;
    }


    .logon {
        width: 40%;
        height: 55px;
        margin-top: 30px;
    }

    .authorize {
        width: 50%;
        height: 100%;
        font-size: 1.8em;
        border-radius: 5px;
    }

    .authorize._log {
        width: 40%;
        background-color: #fff;
    }

    .authorize._log .svg-aut {
        height: 23px;
        width: 25px;
    }

    .authorize._log+svg {
        fill: #C5C5C5;
    }

    .authorize._log:hover {
        color: #ee3643;
    }

    .authorize._log:hover+svg {
        fill: #ee3643;
    }

    .authorize._log:active {
        color: #C5C5C5;
    }

    .nav {
        width: 76px;
        margin: 0 auto;
        margin-top: 30px;
        background-image: url(../images/icon/red-burger.png);
        background-repeat: no-repeat;
        background-position-x: 11px;
        background-size: 54px;
        border-bottom: 5px solid rgb(41, 52, 73);
        border-radius: 10px;
    }

    .nav__wrapper {
        display: none;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .nav__wrapper.active {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .close-nav {
        background-image: url(../images/icon/close.svg);
        background-repeat: no-repeat;
        background-size: contain;
        height: 25px;
        width: 25px;
        position: absolute;
        top: 20%;
        left: 85%;
    }

    ul.nav__list {
        flex-direction: column;
        font-size: 1.7em;
        padding: 0;
        height: auto;
        width: 70%;
        height: 55%;
        background: rgb(50, 66, 92);
        border-bottom: 10px solid rgb(41, 52, 73);
        border-radius: 15px;
    }













    .top-footer {
        height: auto;
        padding-bottom: 30px;
    }

    .info-board {
        flex-direction: column;
        justify-content: start;
    }

    .logo-adres {
        flex-direction: row;
        padding: 0;
        justify-content: space-between;
    }

    .logo._footer {
        width: 45%;
    }

    .info-board__adres {
        padding-top: 10px;
        padding-right: 25px;
        font-size: 1.2em;
        line-height: 1.3em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .info-board__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .info-board__list {
        width: 80%;
        margin: 0;
        font-size: 1.3em;
        line-height: 1em;
    }

    .info-board__list._yellow {
        width: 75%;
        margin: 0;
    }

    .low-footer {
        height: auto;
        padding: 30px 0;
    }

    .low-footer__contact {
        justify-content: space-evenly;
        flex-direction: column-reverse;
    }

    .low-footer__about {
        display: flex;
        width: 45%;
        font-size: 1em;
        line-height: 1em;
        text-align: center;
    }

    .contact {
        width: 50%;
        justify-content: center;
        margin: 25px 0;
    }

    .contact a {
        width: 50px;
        height: 50px;
    }

    .contact svg {
        width: 100%;
        height: 100%;
    }

    .creator {
        width: 50%;
    }

    .author {
        text-align: center;
        font-size: 1em;
        line-height: 1em;
    }

}




























@media(max-width:767px) {

    .header {
        /*position: static;*/
    }

    .header__top {
        height: auto;
    }

    .header__bottom {}

    .top-menu {}


    .logo._top {
        height: 55px;
        width: 100%;
    }

    .logo._top svg {
        height: 45px;
    }

    .main-menu {
        flex-direction: column;
    }

    .search {
        width: 100%;
        height: 54px;
    }

    .search__field {
        width: 100%;
        height: 100%;
        background-position-y: 12px;
        background-position-x: 8px;
        background-size: 25px;
        padding-left: 50px;
        font-size: 21px;
    }

    ::-webkit-input-placeholder {
        line-height: 1em;
        font-size: 1em;
    }

    ::-moz-placeholder {
        line-height: 1em;
        font-size: 1em;
    }


    :-moz-placeholder {
        line-height: 1em;
        font-size: 1em;
    }


    :-ms-input-placeholder {
        line-height: 1em;
        font-size: 1em;
    }

    .search__field:hover {
        color: #888888;
        background: url(../images/icon/icon-search.svg);
        background-repeat: no-repeat;
        background-position-y: 12px;
        background-position-x: 8px;
        background-size: 25px;
    }

    .search__field:active {
        color: #888888;
        background: url(../images/icon/icon-search-gray.svg);
        background-repeat: no-repeat;
        background-position-y: 12px;
        background-position-x: 8px;
        background-size: 25px;
    }

    .search__field:focus {
        color: #000000;
        background: url(../images/icon/icon-search-red.svg);
        background-repeat: no-repeat;
        background-position-y: 12px;
        background-position-x: 8px;
        background-size: 25px;
        background-color: #fff;

    }

    .header-item {
        width: 100%;
        flex-grow: 1;
        font-size: 1.4em;
        display: flex;
        justify-content: left;
        align-items: center;
        height: auto;
    }

    .header-item._bookmark {
        background-position-y: 12px;
        background-position-x: 8px;
        background-size: 25px;
        padding: 15px 0 15px 50px;
    }

    .header-item._cart {
        background-position-y: 12px;
        background-position-x: 8px;
        background-size: 25px;
        padding: 15px 0 15px 50px;
    }

    .header-item._order {
        background-color: #63A63E;
        padding: 15px 0 15px 50px;
    }

    .header-item._bookmark:hover {
        background-image: url(../images/icon/icon-bookmark-hover.png);
        background-repeat: no-repeat;
        background-position-y: 12px;
        background-position-x: 8px;
        background-size: 25px;
    }

    .header-item._cart:hover {
        background-image: url(../images/icon/icon-cart-hover.png);
        background-repeat: no-repeat;
        background-position-y: 12px;
        background-position-x: 8px;
        background-size: 25px;
    }

    .header-item._bookmark:active {
        background-image: url(../images/icon/icon-bookmark.png);
        background-repeat: no-repeat;
        background-position-y: 12px;
        background-position-x: 8px;
        background-size: 25px;
        background-color: #161D29;
        color: rgba(255, 255, 255, 0.5);
    }

    .header-item._cart:active {
        background-image: url(../images/icon/icon-cart.png);
        background-repeat: no-repeat;
        background-position-y: 12px;
        background-position-x: 8px;
        background-size: 25px;
        background-color: #161D29;
        color: rgba(255, 255, 255, 0.5);
    }

    .header__about {
        height: auto;
        padding-top: 0px;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;

    }

    .descrip {
        margin: 0;
        margin-top: 30px;
        width: 85%;
        font-size: 1.6em;
        line-height: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header__phone {
        width: auto;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .phone-number {
        font-size: 1.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        background-position-y: 8px;
        background-position-x: 20px;
        padding-left: 40px;
    }

    .under-phone {
        font-size: 1em;
    }

    .logon {
        width: 75%;
        margin-top: 30px;
        height: 64px;
    }

    .authorize {
        width: 50%;
        height: 70px;
        font-size: 1.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
    }

    .authorize._log {
        width: 40%;
        padding-right: 5%;
    }

    .close-nav {
        background-image: url(../images/icon/icon-close.svg);
        background-repeat: no-repeat;
        height: 21px;
        width: 21px;
        position: absolute;
        top: 16.5%;
        left: 88.5%;
    }

    ul.nav__list {
        flex-direction: column;
        font-size: 1.7em;
        padding: 0;
        height: auto;
        width: 75%;
        height: 60%;
        background: rgb(50, 66, 92);
        border-bottom: 10px solid rgb(41, 52, 73);
    }

    ul.nav__list li {
        align-items: center;
        padding: 15px 0;
    }


















    .footer {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .top-footer {
        height: auto;
        padding-bottom: 30px;
    }

    .logo._footer {
        height: 50px;
        width: 100%;
    }

    .logo._footer svg {
        width: 200px;

    }

    .logo-adres {
        padding: 0;
        flex-direction: column;
    }

    .info-board {
        flex-direction: column;
        justify-content: stretch;
    }

    .info-board__adres {
        margin-top: 30px;
        font-size: 0.9em;
        line-height: 1em;
        padding: 0;
    }

    .info-board__menu {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-evenly;
    }

    ul.info-board__list {
        flex-direction: column;
        width: 35%;
    }

    ul.info-board__list li {
        text-align: center;
        font-size: 0.8em;
    }

    ul.info-board__list._yellow {
        width: 35%;
        margin: 0;
    }

    .low-footer {
        height: auto;
        padding: 30px 0;
    }

    .low-footer__contact {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
    }

    .low-footer__about {
        text-align: center;
        font-size: 1em;
        line-height: 1em;
        width: 60%;
        height: 30%;
    }

    .contact {
        
    }

    .contact a {
        width: 60px;
        height: 60px;
    }

    .contact svg {
        width: 100%;
        height: 100%;
    }

    .creator {
        width: 85%;
        margin: 0 auto;
    }

    .author {
        width: 50%;
        font-size: 1em;
        line-height: 1em;
        text-align: center;
    }
}